src/styles/scss/bootstrap/* linguist-vendored
src/styles/scss/bootstrap/*/* linguist-vendored
src/styles/scss/bootstrap/*/*/* linguist-vendored

src/styles/scss/darkly/* linguist-vendored
src/styles/scss/fontawesome/* linguist-vendored
