@import "variables";

@import "darkly/_variables";

@import "bootstrap/_bootstrap";
@import "fontawesome/font-awesome";

@import "darkly/_bootswatch";

@import "pace.scss";

.inactive-link {
  pointer-events: none;
  cursor: default;
}

.nav-centered {
  vertical-align: middle;
}

.nav-icon-centered {
  vertical-align: middle;
  padding-left: 15px;
}

.nav-icon-centered-disabled {
  vertical-align: middle;
  padding-left: 15px;
  color: darken(grey, 5%);
}

.nav-large-text {
  font-size: 30px;
}

.nav-xlarge-text {
  font-size: 60px;
}

.seperate-left {
  padding-left: 75px;
}

.seperate-right {
  padding-right: 75px;
}

.seperate-right-half {
  padding-right: 30px;
}

// Else it doesn't run on browsers newer than IE6...
.blink {
  animation: blink-animation 1s steps(3, start) infinite;
  -webkit-animation: blink-animation 1s steps(3, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.visibility-hidden {
  visibility: hidden;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fill-parent {
  width: 100%;
  height:100%;
}

.panel-title {
  font-size: 30px !important;
}

.white-btn {
  color: white !important;
}

.big-icon {
  font-size: 10em;
}

// Robot Diagram
svg#robot-diagram {
  stroke: white;
  fill: #222;
  stroke-width: 2;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;

  position: absolute;
  bottom: 50px;
  right: 5vw;


  text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
  }

  #team {
    font-size: 28px;
    letter-spacing: -1px;
  }
}

.navbar-text {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

input.form-control {
  background-color: #222222 !important;
  color: #FFFFFF !important;
}

select.form-control {
  background-color: #222222 !important;
  color: #FFFFFF !important;
}